<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Utils.Listeners"></listener>
</listeners>  

  <test thread-count="5" name="Error Validation Test">
    <classes>
      <class name="appiumautomation.loginPage"/>
      <class name="appiumautomation.productPage"/>
      <class name="appiumautomation.endToEndTest"/>
      <class name="appiumautomation.webView"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
